# python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/

# environments
venv/
.venv/
.env

# IDE
.idea/

# data and outputs
dataset/
data/raw/
data/interim/
data/processed/
outputs/
*.log

# notebooks
.ipynb_checkpoints/